<div class="product-details">
    <div class="right-side-section">
        <div class="left-sction m-t-10">
            <div class="brand">
                <span>Brand: M A Zoya</span>
            </div>
            <div class="title m-t-10">
                <p>
                    N1 M A Zoya Fashion Hair Clips For Baby Girl's |Woman's| Girls| Gift Pack|Hair Bows,Elastic, Hair
                    Ties, Hair
                    ,Ponytail Holder, Hairpins Set For Baby Girls Teens Toddlers (Pink) 18 Pcs/Set
                </p>
            </div>
            <div class="product-detali-img">
                <div class="offer">
                    <p>60% off </p>
                </div>
                <div class="pd-imags">
                    <!-- <img src="../assets/images/product/mug/snoopy1.jpg" width="80%"> -->
                    <app-carousel></app-carousel>
                </div>
                <div class="share">
                    <button>
                        <i class="fas fa-share-alt"></i>
                    </button>
                </div>
            </div>

            <div class="amount">
                <h6><i class="fas fa-rupee-sign"></i>499/-</h6>
                <h3>MRP: <i class="fas fa-rupee-sign"></i><span>1299.00</span></h3>
                <span>Save <i class="fas fa-rupee-sign"></i> 800.00</span>
            </div>
            <div class="delivery-time">
                <h5>Free delivery: <span>April 7 - 8 </span>Details</h5>
            </div>
            <div class="in-stoch">
                <h4>In stock</h4>
                <p>Sold by <span>M A Zoya Fashions</span> and Delivery By <span>DHL</span></p>
            </div>
            <div class="qty m-t-15">
                <p (click)=toggleDisplayDivIf()>QTY:<input type="number" placeholder="0"> <i
                        class="fas fa-chevron-down"></i>
                </p>
                <div class="qty-list">
                    <ul *ngIf="!isShowDivIf">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                    </ul>
                </div>
            </div>

            <div class="buy-now-btn">
                <button class="buy-now">Buy Now</button>
                <button class="add-to-cart">Add to Cart</button>
            </div>
            <div class="add-image m-t-20">
                <img src="../assets/images/add/add_2.gif" width="100%">
            </div>

            <div id="details">
                <h4>Details</h4>
                <div class="d-flex">
                    <div class="flex-1">
                        <p> Age Range (Description)</p>
                    </div>
                    <div class="flex-1">
                        <p> Babies</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="flex-1">
                        <p> Color</p>
                    </div>
                    <div class="flex-1">
                        <p> Pink</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="flex-1">
                        <p> Brand</p>
                    </div>
                    <div class="flex-1">
                        <p> M A Zoya</p>
                    </div>
                </div>
            </div>

            <div class="also-like m-t-20">
                <h2>You might also like</h2>
                <div class="also-like-list product">
                    <ul>
                        <li>
                            <div class="product-image">
                                <button>
                                    <img src="../assets/images/product/mug/best2.jpg" width="100%">
                                </button>
                            </div>
                            <div class="product-list">
                                <p>
                                    N1 M A Zoya Fashion Hair Clips For Baby Girl's |Woman's| Girls| Gift Pack|Hair
                                    Bows,Elastic,
                                    Hair Ties, Hair ,Ponytail Holder, Hairpins Set For Baby Girls Teens Toddlers (Pink)
                                    18
                                    Pcs/Set
                                </p>
                            </div>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <span>5</span>
                            </div>
                            <div class="amount">
                                <h6>₹ 399/-
                                    <span>Save: ₹ 850.00 (55%)</span>
                                </h6>
                            </div>
                        </li>
                        <li>
                            <div class="product-image">
                                <button>
                                    <img src="../assets/images/product/mug/best2.jpg" width="100%">
                                </button>
                            </div>
                            <div class="product-list">
                                <p>
                                    N1 M A Zoya Fashion Hair Clips For Baby Girl's |Woman's| Girls| Gift Pack|Hair
                                    Bows,Elastic,
                                    Hair Ties, Hair ,Ponytail Holder, Hairpins Set For Baby Girls Teens Toddlers (Pink)
                                    18
                                    Pcs/Set
                                </p>
                            </div>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <span>5</span>
                            </div>
                            <div class="amount">
                                <h6>₹ 399/-
                                    <span>Save: ₹ 850.00 (55%)</span>
                                </h6>
                            </div>
                        </li>
                        <li>
                            <div class="product-image">
                                <button>
                                    <img src="../assets/images/product/mug/best2.jpg" width="100%">
                                </button>
                            </div>
                            <div class="product-list">
                                <p>
                                    N1 M A Zoya Fashion Hair Clips For Baby Girl's |Woman's| Girls| Gift Pack|Hair
                                    Bows,Elastic,
                                    Hair Ties, Hair ,Ponytail Holder, Hairpins Set For Baby Girls Teens Toddlers (Pink)
                                    18
                                    Pcs/Set
                                </p>
                            </div>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <span>5</span>
                            </div>
                            <div class="amount">
                                <h6>₹ 399/-
                                    <span>Save: ₹ 850.00 (55%)</span>
                                </h6>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="description">
                <h4>Description</h4>
                <p>
                    This set 36 pcs high quality imported hair clips. Hair accessories gift set for babies and little
                    girls
                    including hair clips in an attractive card board box which is perfect for gifting. Every piece of
                    our bows
                    is hand made and hand picked carefully. The clips are completely covered in soft cloth and
                    embellished using
                    glues, will not hurt or pull baby's hair. Our girl clips set is packed with cute pink gift box which
                    makes
                    it a best gift for your baby girls. This set contains mix colors and designs. There are beautiful
                    designs
                    like, heart, Unicorn, a pair of butterfly, ice cream, sequin star, Rainbow, a pair of Minnie clips
                    and a
                    pair of Ice cream clips. Check picture for reference. Make sure they are well made and look nice.
                    The clips
                    are completely covered in soft cloth and embellished using glues, will not hurt or pull baby's hair.
                    Our
                    girl clips set is packed with cute pink gift box which makes it a best gift for your baby girl.
                </p>
            </div>

            <div class="add-image m-t-20">
                <img src="../assets/images/add/add_3.gif" width="100%">
            </div>

            <div class="features-details m-t-20">
                <h4>Features & details</h4>
                <ul>
                    <li>
                        Beautiful and Cute:- These clips match with party outfits, lovely and elegant look. This is the
                        perfect
                        gift for any occasion! Birthdays, Baby Shower, Baby Gifts, Christmas and more. It is easy to
                        clip onto
                        hair, clothing, headbands, hats, handbags. Flowers headwrap set will come with 3 beautiful color
                        combinations. All baby girls headbands are high quality stretchy soft comfortable. These hairbow
                        band
                        have bright colors, adorable and trendy for newborn, infants, toddlers, baby girls.
                    </li>
                    <li>
                        All baby girls:- headbands are high quality stretchy soft comfortable. Perfect for your growing
                        baby.
                        These hairbow band have bright colors,adorable and trendy for newborn, infants, toddlers, baby
                        girls.
                    </li>
                    <li>
                        Great for any Beauty:- project as the bows are easily maneuverable to your preference. The hair
                        bow
                        clips can be clipped in your hair with the featured alligator clip on the back whatever your
                        hair is
                        thick or thin.
                    </li>
                    <li>
                        We are profession produce hair accessories. If you are not positively thrilled with our product,
                        just
                        let us know and we will issue a prompt replacement or return your money in full- FREE! Any
                        problem
                        contact with us.
                    </li>
                    <li>
                        Imported Acrylic Clips - Made from safe Material for babies. Free Gift With Every. Simple and
                        Beautiful,
                        Delicate Flower Shape Design, Great Variety of Colors to Match Your Princess's Outfit. A
                        Wonderful
                        Ornament For Your Baby Princess, Easy To Attach to hair. Cartoon pattern hair accessories, small
                        and
                        lightweight, beautiful and cute, durable and unfading for long times wearing.
                    </li>

                </ul>
            </div>

            <div class="product-informaton">
                <h4>Product informaton</h4>
                <div class="d-flex m-t-15">
                    <div class="flex-2 p-l-10">
                        <p>Manufacturer</p>
                    </div>
                    <div class="flex-1 p-l-10">
                        <p>M A Zoya Fashions</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="flex-2 p-l-10">
                        <p>Country of Origin</p>
                    </div>
                    <div class="flex-1 p-l-10">
                        <p>India</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="flex-2 p-l-10">
                        <p>Product Dimensions</p>
                    </div>
                    <div class="flex-1 p-l-10">
                        <p>12.5x 17.5 x 5.5 cm; 240 Grams</p>
                    </div>
                </div>
            </div>

            <div class="additional-info m-t-10">
                <h4>Additional Ainformation</h4>
                <h4>Manufacturer: <span>M A Zoya Fashions</span></h4>
                <h4>Item Weight: <span>240 g</span></h4>
                <h4>Item Dimensions LxWxH: <span>12.5x 17.5 x 5.5 cm</span></h4>
                <h4>Net Quantity: <span>18.00</span></h4>
            </div>

            <div class="customer-reviews m-t-20">
                <h2>Customer reviews</h2>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span>5 out of 5</span>
                </div>

                <hr>

                <h4>Top reviews from India</h4>
                <div class="review-list">
                    <i class="fas fa-user-circle"></i><span class="rev-name">Parveen</span>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <span>Verified Purchase</span>
                    </div>
                    <div class="review-title">
                        <h4>Good Product</h4>
                        <h6>Reviewed in India on 20 March 2021</h6>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque deserunt porro nihil
                            perferendis accusantium? Cum eveniet numquam labore perferendis, nemo dicta possimus
                            distinctio reiciendis tenetur placeat quam! Aperiam, nesciunt perspiciatis?
                        </p>
                    </div>
                </div>

                <div class="see-all-review m-t-10">
                    <button type="button" class="form-control" (click)=toggleDisplayRev()>See all reviews</button>

                    <div class="all-review-bar" *ngIf="!isShowRev">
                        <h2 class=" m-t-10">Customer reviews</h2>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <span>5 out of 5</span>
                        </div>
                        <div class="global-rat">
                            <span>3 global rating</span>
                            <div class="d-flex  m-t-15">
                                <div class="five-star">
                                    <p>5 star</p>
                                </div>
                                <div class="bar">
                                    <div class="progress">
                                        <div class="progress-bar bg-warning" style="width:80%"></div>
                                     </div>
                                </div>
                                <div class="percentage">
                                    <span>100%</span>
                                </div>
                            </div>
                            <div class="d-flex  m-t-15">
                                <div class="five-star">
                                    <p>4 star</p>
                                </div>
                                <div class="bar">
                                    <div class="progress">
                                        <div class="progress-bar bg-warning" style="width:40%"></div>
                                     </div>
                                </div>
                                <div class="percentage">
                                    <span>100%</span>
                                </div>
                            </div>
                            <div class="d-flex  m-t-15">
                                <div class="five-star">
                                    <p>3 star</p>
                                </div>
                                <div class="bar">
                                    <div class="progress">
                                        <div class="progress-bar bg-warning" style="width:60%"></div>
                                     </div>
                                </div>
                                <div class="percentage">
                                    <span>100%</span>
                                </div>
                            </div>
                            <div class="d-flex  m-t-15">
                                <div class="five-star">
                                    <p>2 star</p>
                                </div>
                                <div class="bar">
                                    <div class="progress">
                                        <div class="progress-bar bg-warning" style="width:0%"></div>
                                     </div>
                                </div>
                                <div class="percentage">
                                    <span>100%</span>
                                </div>
                            </div>
                            <div class="d-flex  m-t-15">
                                <div class="five-star">
                                    <p>1 star</p>
                                </div>
                                <div class="bar">
                                    <div class="progress">
                                        <div class="progress-bar bg-warning" style="width:0%"></div>
                                     </div>
                                </div>
                                <div class="percentage">
                                    <span>100%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



        </div>

        <!-- right-sction -->
        <div class="right-sction m-l-15  m-t-10">
            <h4>Card Image</h4>
            <div class="card m-t-10">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Jane Doe</h4>
                    <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
        </div>
    </div>





</div>