<div class="header">
    <img src="../assets/images/slider/slider10.jpg" width="100%">
</div>

<div class="product">
    <div class="right-side-section">
        <div class="left-sction m-t-22">

            <div class="d-flex p-t-20" routerLink="product-details">
                <div class="flex-1 p-r-10">
                    <div class="card">
                        <div class="card-body">
                            <div class="product-image">
                                <button>
                                    <img src="../assets/images/product/mug/best2.jpg" width="100%">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-1">
                    <div class="product-list">
                        <p>
                            N1 M A Zoya Fashion Hair Clips For Baby Girl's |Woman's| Girls| Gift Pack|Hair Bows,Elastic, Hair Ties, Hair ,Ponytail Holder, Hairpins Set For Baby Girls Teens Toddlers (Pink) 18 Pcs/Set
                        </p>
                    </div>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <span>5</span>
                    </div>
                    <div class="amount">
                        <h6>₹ 399/-
                            <span>Save:	₹ 850.00 (55%)</span>
                        </h6>
                    </div>
                    <div class="ship-date">
                        <p>Get it <span>Sunday, April 6 - Wednesday, April 7</span>
                            FREE Delivery
                        </p>
                    </div>
                </div>
            </div>
            <div class="prod-add-cart p-t-5">
                <button class="add-to-cart">Add to Cart</button>
            </div>
        </div>
        <div class="right-sction m-l-15 m-t-10">
            <h4>Card Image</h4>
            <div class="card m-t-10">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Jane Doe</h4>
                    <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>