
       
<div class="banner_section">
    <div class="container">
        <div class="header">
            <img src="../assets/images/slider/slider1.jpg" width="100%">
        </div>
        <h4>Top pick for you</h4>
        <div class="row m-t-10">
            <div class="col p-r-5">
                <div class="single_banner">
                    <div class="offer">
                        <p>60%
                            off
                        </p>
                    </div>
                    <button>
                        <img src="../assets/images/product/mug/best2.jpg" width="100%">
                    </button>
                </div>
            </div>
            <div class="col p-l-5">
                <div class="single_banner">
                    <div class="offer">
                        <p>60%
                            off
                        </p>
                    </div>
                    <button>
                        <img src="../assets/images/product/mug/girafee.jpg" width="100%">
                    </button>
                </div>
            </div>
        </div>

        <div class="row m-t-10">
            <div class="col p-r-5">
                <div class="single_banner">
                    <div class="offer">
                        <p>60%
                            off
                        </p>
                    </div>
                    <button>
                        <img src="../assets/images/product/mug/snoopy1.jpg" width="100%">
                    </button>
                </div>
            </div>
            <div class="col p-l-5">
                <div class="single_banner">
                    <div class="offer">
                        <p>60%
                            off
                        </p>
                    </div>
                    <button>
                        <img src="../assets/images/product/mug/sister2.jpg" width="100%">
                    </button>
                </div>
            </div>
        </div>

        <div class="new-arrivals">
            <div class="new-arrival-had">
                <h2>New Arrivals</h2>
                <p> Consequat magna massa vel suspendisse.</p>
            </div>
            <div class="row">
                <div class="col p-r-5">
                    <button>
                        <img src="../assets/images/banner/banner8.jpg" width="100%">
                    </button>
                </div>
                <div class="col p-l-5 p-r-5">
                    <button>
                        <img src="../assets/images/banner/banner9.jpg" width="100%">
                    </button>
                </div>
                <div class="col p-l-5">
                    <button>
                        <img src="../assets/images/banner/banner10.jpg" width="100%">
                    </button>
                </div>
            </div>


            <!---------------------------------------------------------------------------------------------*/
            /* Featured Tag
            /*-------------------------------------------------------------------------------------------*/ -->
            <div class="featured">
                <div class="featured-had">
                    <h2>Featured</h2>
                </div>
                <div class="row p-t-20">
                    <div class="col p-r-10">
                        <button>
                            <img src="../assets/images/product/mug/product2.jpg" width="100%">
                        </button>
                    </div>
                    <div class="col p-l-5">
                        <div class="product_name">
                            <h3>Aesthetica 5-Piece Brow</h3>
                        </div>
                        <div class="product_price p-t-5">
                            <span class="current_price">₹ 68.00</span>
                            <span class="old_price">₹ 68.00</span>
                        </div>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="add-like">
                            <i class="fas fa-shopping-bag"></i>
                            <!-- <i class="fas fa-heart"></i> -->
                            <i class="far fa-heart"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-------------------------------------------------------------------------------------------
            /* Bestseller Tag
            --------------------------------------------------------------------------------------------->
            <div class="featured">
                <div class="featured-had">
                    <h2>Bestseller</h2>
                </div>
                <div class="row p-t-20">
                    <div class="col p-r-10">
                        <button>
                            <img src="../assets/images/product/product4.jpg" width="100%">
                        </button>
                    </div>
                    <div class="col p-l-5">
                        <div class="product_name">
                            <h3>Aesthetica 5-Piece Brow</h3>
                        </div>
                        <div class="product_price p-t-5">
                            <span class="current_price">₹ 68.00</span>
                            <span class="old_price">₹ 68.00</span>
                        </div>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="add-like">
                            <i class="fas fa-shopping-bag"></i>
                            <!-- <i class="fas fa-heart"></i> -->
                            <i class="far fa-heart"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-------------------------------------------------------------------------------------------
             Shipping Tag
        --------------------------------------------------------------------------------------------->
        <div class="free-shipping m-t-50">
            <div class="row">
                <div class="ship-car">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="ship-text">
                    <h3>Free Shipping Worldwide</h3>
                    <p>Diam augue augue in fusce voluptatem</p>
                </div>
            </div>
        </div>
        <div class="free-shipping">
            <div class="row m-t-10">
                <div class="ship-car">
                    <i class="fas fa-hand-holding-usd"></i>
                </div>
                <div class="ship-text">
                    <h3>Free Shipping Worldwide</h3>
                    <p>Diam augue augue in fusce voluptatem</p>
                </div>
            </div>
        </div>
        <div class="free-shipping">
            <div class="row m-t-10">
                <div class="ship-car">
                    <i class="fas fa-comments"></i>
                </div>
                <div class="ship-text">
                    <h3>Free Shipping Worldwide</h3>
                    <p>Diam augue augue in fusce voluptatem</p>
                </div>
            </div>
        </div>


    </div>
</div>