<div class="d-flex" mat-dialog-title>
    <div class="flex-1">
        <h2>Install Angular</h2>
    </div>
    <div class="flex-1">
        <button mat-button mat-dialog-close>Cancel</button>
    </div>
</div>
<mat-dialog-content class="mat-typography">
    <h3>Develop across all platforms</h3>
    <p>Learn one way to build applications with Angular and reuse your code and abilities to build
        apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Foter</button>
</mat-dialog-actions>