<div class="slider">
  
    <div class="slides">
      <div id="slide-1">
        <img src="../assets/images/product/mug/best2.jpg" width="100%">
      </div>
      <div id="slide-2">
        <img src="../assets/images/product/mug/sister2.jpg" width="100%">
      </div>
      <div id="slide-3">
        <img src="../assets/images/product/mug/snoopy1.jpg" width="100%">
      </div>
    </div>
    
    <div class="navigate">
        <button></button>
        <button></button>
        <button></button>
    </div>
  
  </div>