@import "/src/assets/scss/import";


/*/////////////////////////////////
  Responsive  MEDIAQUERIES CSS
/////////////////////////////////*/
// Extra small devices (portrait phones, less than 576px)
@media (min-width: 297px) and (max-width: 768.98px) {
    .tag-log {
        p {
            padding-left: $base-size * 22 !important;
        }
    }

    .item:hover .item-overlay.top {
        top: 50% !important;
    }
    .overlay-inner {
        width: 92% !important;
        height: 70% !important;
    }
    .slider {
        width: 345px!important;
    }
}
